/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--inter), sans-serif;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter), sans-serif;
  color: rgb(0, 0, 0);
  background-attachment: fixed;
  background-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  font-variation-settings:'wght' var(--fw-main) ;
}

.header {
  display: flex;
  padding: clamp(2rem, -0.5279rem + 10.7858vw, 6.25rem);
}

.header__info {
  max-width: 696px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: normal;
  text-transform: uppercase;
  font-variation-settings:'wght' var(--fw-main);
  padding: clamp(7.5rem, 7.2111rem + 1.2327vw, 8rem) clamp(0.875rem, -2.9709rem + 16.4092vw, 7.531rem);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  margin: auto;
  font-family: var(--pressstart2p), sans-serif;
  font-weight: var(--fw-main);
}

.header__title {
  font-size: clamp(3.063rem, 2.4852rem + 2.4653vw, 4.063rem);
  line-height: clamp(3.063rem, 2.4852rem + 2.4653vw, 4.063rem);
  margin-bottom: 20px;

}

.header__des {
  font-size: clamp(0.875rem, 0.5497rem + 1.3880vw, 1.438rem);
  line-height: clamp(0.875rem, 0.5497rem + 1.3880vw, 1.438rem);
}

/* ============================================================== */
/* ============================================================== */

.card {
  display: flex;
  margin-bottom: 49px;
  align-items: center;
}

.card__inner {
  margin: auto;
  background: rgb(255, 255, 255);
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  max-width: 698px;
  width: 100%;
}

.card__name {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: var(--fw-accent-variation);
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  border-bottom: 2px solid black;
}

.card__img-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-blend-mode: hard-light;
}

.card__img {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@supports (text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__img-des {
    text-stroke: 1px var(--text-stroke-color);
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__img-des {
  font-family: var(--pressstart2p), sans-serif;
  font-size: 14px;
  font-weight: var(--fw-main);
  line-height: 14px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow: 1px rgb(255, 255, 255);
}



.card__main-content {
  padding: 25px;
  border-top: 2px solid black;
}

.card__text {
  font-size: 18px;
  font-variation-settings:'wght' var(--fw-main);
  line-height: 21px;
  letter-spacing: normal;
}

.card__main-text {
  margin-bottom: 27px;
}

.card__des {
  margin-bottom: 25px;
}

.card__btn-box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: none;
  transition: outline .3s ease;
  box-sizing: border-box;
  max-height: 38px;
  margin-right: 7px;
  padding: 0;
  outline: 2px solid transparent;
}


.card__like-button {
  border: 2px solid rgb(0, 0, 0);
  padding: 9px 0;
  cursor: pointer;
  background-color: transparent;
  max-width: 130px;
  width: 100%;
  max-height: 38px;
}

.button__text {
  position: relative;
  font-family: var(--pressstart2p), sans-serif;
  font-size: 14px;
  font-weight: var(--fw-main);
  line-height: 90%;
  letter-spacing: normal;
  z-index: 1;
  color: white;
  mix-blend-mode: difference;
}


.blur {
  filter: blur(5px);
}

.conrtast {
  filter: contrast(200%);
}

.grayscale {
  filter: grayscale(1);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.brightness {
  filter: brightness(8.4);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(80%);
}

.multiple {
  filter: contrast(155%) brightness(43%);
}

/* ============================================ */
/* ============================================ */

.modal__window {
  margin-bottom: 65px;
}

.dialog {
  max-width: 357px;
  padding: 28px;
  max-height: 193px;
  height: 100%;
}

.dialog[open] .dialog__content {
  display: flex;
}

.dialog__content {
  margin-bottom: 30px;
}

.floppy {
  mix-blend-mode: difference;
  filter: invert(1);
  object-fit: cover;
  width: min(21px, 100%);
  height: min(21px, 100%);
}


.modal__floppy {
  align-self: center;
  max-width: 39px;
  max-height: 39px;
  width: 100%;
  height: 100%;
}

.dialog__content-text {
  font-family: var(--pressstart2p), sans-serif;
  font-size: 14px;
  font-weight: var(--fw-main);
  line-height: 150%;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin-left: 20px;

}

.dialog__btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  max-width: 293px;
  width: 100%;
  text-transform: uppercase;
  min-height: 38px;
  padding-top: 3px;
}




.modal__text {
  margin-left: 8px;
}

.modal__btn {
  display: flex;
  background-color: white;
  margin: auto;
  align-items: center;
  padding: 15px 19px 15px 17px;
  max-width: 337px;
  width: 100%;
  min-height: 53px;
}

.dialog::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75;
}


@media (max-width:500px) {
  .header {
    padding: 102px 0px;
  }

  .header__title {
    font-size: 49px;
  }

  .modal__btn {
    flex-direction: column;
  }

  .modal__text {
    margin-left: 0;
    margin-top: 8px;
  }

  .floppy {
    width: min(28px, 100%);
    height: min(28px, 100%);
  }

  .modal__floppy {
    width: 100%;
    height: 100%;
  }

  .card__img-des {
    right: 13px;
  }

  .dialog {
    max-width: 341px;
    max-height: 195px;
  }
}


/* =================================================================== */
/* =================================================================== */

.active__btn {
  transition: box-shadow 0.3s;
  position: relative;
  box-shadow: 2px 2px 0px transparent;
}


.active__btn::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: width 0.5s ease-in-out;
}



.sparks {
  opacity: 0;
}

.card__icon-button .core {
  transition: fill 0.3s 0.03s;
}



.card__icon-button .main-body {
  transition: fill 0.3s;
}

.card__icon-button .contour {
  transition: fill 0.1s 0.06s linear;
}




.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-animation 0.3s ease-in 0.1s;
}


.like-icon.is-liked .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.06s linear;
}

