/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes spark-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter), sans-serif;
  color: rgb(0, 0, 0);
  background-image:linear-gradient(
    to bottom,
    rgba(231, 231, 231, 0.01),
    #e7e7e7
  ),
  repeating-linear-gradient(
    to right,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px 
  );
  background-size: cover;
  font-variation-settings: 'wght' 400, 'wght' 785;
}

.header {
  display: flex;
  padding: clamp(2rem, -0.5279rem + 10.7858vw, 6.375rem) ;
}
.header__info {
  max-width: 696px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-weight: var(--fw-main);
  padding: clamp(7.5rem, 7.2111rem + 1.2327vw, 8rem) clamp(0.875rem, -2.9709rem + 16.4092vw, 7.531rem);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  margin: auto;
  font-family: var(--pressstart2p), sans-serif;
}
.header__title {
  font-size: clamp(3.063rem, 2.4852rem + 2.4653vw, 4.063rem);
  line-height: clamp(3.063rem, 2.4852rem + 2.4653vw, 4.063rem);
  margin-bottom: 20px;
  
}
.header__des {
  font-size: clamp(0.875rem, 0.5497rem + 1.3880vw, 1.438rem);
  line-height: clamp(0.875rem, 0.5497rem + 1.3880vw, 1.438rem);
}

/* ============================================================== */
/* ============================================================== */

.card {
  display: flex;
  margin-bottom: 52px;
  align-items: center;
}

.card__inner {
  margin: auto;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  max-width: 700px;
  width: 100%;
}

.card__name {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: var(--fw-accent);
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.card__img-box {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 696px;
  max-width: 700px;
  background-blend-mode:hard-light;
  overflow: hidden;
}

.card__img {
  width: 100%;
  border-bottom: 1px solid black;
}

.card__img-des {
  font-family: var(--pressstart2p), sans-serif;
  font-size: 14px;
  font-weight: var(--fw-main);
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  text-shadow: 1px #fff;
}

@supports (text-stroke: 1px var(--text-stroke-color)) {
  .card__img-des {
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__main-content {
  padding: 25px;
}

.card__text {
  font-size: 18px;
  font-weight: var(--fw-main);
  line-height: 21px;
  letter-spacing: 0%;
  text-shadow: 1px 1px black;
}

.card__main-text {
  margin-bottom: 27px;
}
.card__des {
  margin-bottom: 25px;
}
.card__btn-box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: none;
  transition: outline .3s ease;
  box-sizing: border-box;
  max-height: 38px;
  margin-right: 15px;
  padding: 0;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  border:none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid black;
  transition: outline .3s ease;
}

.card__like-button {
  border: 2px solid rgb(0, 0, 0);
  padding: 9px 0;
  cursor: pointer;
  background-color: transparent;
  max-width: 130px;
  width: 100%;
  max-height: 38px;
}

.button__text {
  position: relative;
  font-family: var(--pressstart2p);
  font-size: 14px;
  font-weight: var(--fw-main);
  line-height: 90%;
  letter-spacing: 0%;
  z-index: 1;
  color: white;
  mix-blend-mode: difference;
}


.blur {
  filter: blur(5px);
}

.conrtast {
  filter: contrast(200%);
}

.grayscale {
  filter: grayscale(1);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.brightness {
  filter: brightness(8.4);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(80%);
}

.multiple {
  filter: contrast(155%) brightness(43%);
}

/* ============================================ */
/* ============================================ */

.modal__window {
  margin-bottom: 65px;
}

.dialog {
  max-width: 357px;
  padding: 30px;
}
.dialog[open] .dialog__content {
  display: flex;
}
.dialog__content {
  margin-bottom: 30px;
}

.floppy {
  max-width: 39px;
  max-height: 39px;
  mix-blend-mode: difference;
  fill: white;
}

.floppy-rect {
  fill: white;
}

.dialog__content-text {
  font-family: var(--pressstart2p);
  font-size: 14px;
  font-weight: var(--fw-main);
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-left: 20px;

}
.dialog__btn {
  background-color: transparent;
  width: 100%;
  text-align: center;
  padding: 12px;
}
.modal__text {
  margin-left: 8px;
}
.modal__btn {
  display: flex;
  background-color: transparent;
  margin: auto;
  align-items: center;
  padding: 15px 21px 15px 19px;
}

.dialog::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75;
}


@media (max-width:500px) {
  .header {
    padding: 102px 0px;
  }

  .header__title {
    font-size: 49px;
  }

  .modal__btn {
    flex-direction: column;
  }

  .modal__text {
    margin-left: 0;
    margin-top: 8px;
  }

  .modal__floppy {
    align-self: center;
  }
}


/* =================================================================== */
/* =================================================================== */

.active__btn {  
  transition: box-shadow 0.3s ;
  position: relative;
  box-shadow: 2px 2px 0px transparent;
}

.active__btn:focus {  
  box-shadow: 2px 2px 0px black;
  transition: box-shadow 0.3s ;
}


.active__btn::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: width 0.5s ease-in-out ;
}

.active__btn:hover::before {
  width: 100%;
  transition: width 0.5s ease-in-out ;
}

.sparks {
  opacity: 0;
}

.card__icon-button .core {
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--heart-counter);
  transition: fill 0.3s;
}

.card__icon-button .main-body {
  transition: fill 0.3s;
}

.card__icon-button .contour {
  transition: fill 0.1s 0.06s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-counter);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s ease-in 0.3s ;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-animation 0.3s ease-in 0.1s ;
}


.like-icon.is-liked .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.06s linear;
}

