/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --inter: "Inter";
  --pressstart2p: "PressStart2P";
  --fw-main: 400;
  --fw-accent: 700;
  --text-stroke-color: #fff;
  --heart-counter:#000;
  --heart-sparks:#FF0000;
  --heart-accent:#000;
}